* {
    box-sizing: border-box;
    border-radius: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
}

a {
    text-decoration: none;
    display: block;
}

.btn {
    padding: 25px;
    background-color: rgb(179, 196, 179);
    margin: 0 auto;
    margin-top: 15px;
    width: 30%;
    font-size: 25px;
    color: black;
    border-radius: 25px;
    border-style: solid; 
}
