body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
}

h2 {
    color: rgb(26, 220, 223);
}

#li {
    display: flex;
    align-content: center;
}
.challenge {
    padding-top: 150px ;
    align-items: center;
}

p.challenge {
    font-size: 14;
}

.theQuiz {
    align-content: center;
}

.theQuiz-content {
    align-content: center;
}    

button {
    background-color:rgb(70, 43, 226);
    color: white;
    height: 50px;
    width: 100px;
    font-size: 20;
    align-content: center;
    font-weight: bolder;
}


#start {
    align-content: center;
}

#q {
    align-content: center;
}
#highScore {
    float:left;
    padding: 25px 25px 24px;
}

#time {
    float:right;
    color: black;
    padding: 25px 25px 24px;
}

#totalScore {
    float:right;
    color: black;
    padding: 25px 25px 24px;
}