* {
    box-sizing: border-box;
    border-radius: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
}

#start {
    padding: 2px;
    background-color: rgba(17, 0, 255, 0.989);
    margin: 0 auto;
    margin-top: 15px;
    width: 10%;
    font-size: 25px;
    border-radius: 25px;
    border-style: solid; 
}
